/*公共样式*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

body {
	background-color: #eee;
}

.back_color {
	background-color: #1D61A4;
}

.back_color2 {
	background-color: #fff;
}

.text_style14 {
	font-size: 0.28rem;
}

.text_style16 {
	font-size: 0.32rem;
}

.text_style18 {
	font-size: 0.36rem;
}

.text_style20 {
	font-size: 0.4rem;
}

.font_colorb {
	color: #1D61A4;
}

.font_colorf {
	color: #fff;
}

.font_color0 {
	color: #000;
}

.font_color3 {
	color: #333;
}

.font_color6 {
	color: #666;
}

.font_color9 {
	color: #999;
}


#tabbars {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
}

.mar_top {
	margin-top: 0.2rem;
}

.mar_but {
	margin-bottom: 1.4rem;
}
.padd{
	padding: 0.3rem 0.2rem;
}
.padd-lr {
	padding: 0 0.2rem;
}
.padd-tb {
	padding: 0.3rem 0;
}

.dis_flex {
	display: flex;
	justify-content: space-around;
}

.navigation {
	display: flex;
	justify-content: space-around;
	padding: 0 0.1rem;
}

.navigation span {
	padding: 0.24rem 0.1rem;
}

.navigation span.s_style {
	background-color: #1f873e;
	color: #fff;
}

.navigation span.s_style2 {
	border-bottom: 2px solid #1f873e;
}