.center{
	width: 1200px;
	margin: 0 auto;
	padding: 42px 30px;
	border: 1px solid #eee;
	box-sizing: border-box;
	overflow: hidden;
}
.cenTab{
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	font-size: 12px;
}
.cenTab .tabLeft{
	width: 40px;
	display: inline-block;
	height: 18px;
	margin-bottom: 5px;
}
.cenTab .tabLeft b{
	font-weight:400;
	padding: 0 5px;
}
.cenTab .tabRight{
	width: 1050px;
	display: inline-block;
	height: 18px;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}
.cenTab .tabRight li{
	display: inline-block;
	padding: 0 5px;
}
.cenTab .tabRight li.col{
	color: #0B9AD6;
}
.cenTab .tabRight li:hover{
	color: #0B9AD6;
}
.cenTab .tabFu{
	position: absolute;
	top: -2px;
}
.tabFu1{
	left: 600px;
}
.tabFu2{
	left: 500px;
}
.cenTab .tabFu input{
	width: 66px;
	height: 18px;
	font-size: 12px;
	box-sizing: border-box;
	outline：none 
}
.cenTab .tabFu button{
	width: 44px;
	height: 18px;
	font-size: 12px;
	position: relative;
	top: 2px;
	left: 20px;
	box-sizing: border-box;
}

.centerBox{
	margin-top:50px;
	padding-top: 15px;
}
.centerBox .boxUP{
	padding: 10px 0;
	font-size: 14px;
	text-indent: 20px;
}
.centerBox .boxUP span{
	color: #ff0000;
}
.centerBox .box_tong{
	border-top: 1px solid #0B9AD6;
}
/*.centerBox .boxLeft{
	width: 980px;
}*/
.centerBox .boxLeft li{
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #0B9AD6;
}
.boxLeft li a img{
	width: 160px;
	height: 160px;
	margin-right: 22px;
}
.boxLeft li a .le_details{
	padding: 10px 0;
	vertical-align: top;
}
.le_details h4{
	font-size: 18px;
	color: #0B9AD6;
}
.page{
	width: 600px;
	margin: 80px auto;
	height: 30px;
	text-align: center;
}
.le_details .le_deZi{
	width: 100%;
	display: flex;
}
.le_details .le_deZi div{
	width: 33.33%;
	padding: 5px 0;
	font-size: 14px;
	color: #666;
}
.zjys{
	font-size: 18px;
	color: #ff0000;
}
