.issUp{
	text-align: center;
	background: #fff;
	font-size: 18px;
	height: 50px;
}
.issUp span{
	width: 385px;
	height: 50px;
	line-height: 52px;
	float: left
}
.issUp .sps_back{
	width: 385px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	display: block;
	background:url(../images/issue1_03.png)0px 0px no-repeat;;
    background-size:100%;
}

.issCenter{
	width: 900px;
	margin: 0 auto;
	padding: 100px 0 86px 0;
	height: 120px;
}
.issCenter a{
	display: block;
	width: 300px;
	float: left;
	text-align: center;
}
.issCenter a .i_back1{
	width: 92px;
	height: 92px;
	display: block;
	background: url(../img/zr.png) 0px 0px no-repeat;
	background-size: 100%;
	position: relative;
    left: 104px;
}
.issCenter a .i_back2{
	width: 92px;
	height: 92px;
	display: block;
	background: url(../img/zz.png) 0px 0px no-repeat;
	background-size: 100%;
	position: relative;
    left: 104px;
}
.issCenter a .i_back3{
	width: 92px;
	height: 92px;
	display: block;
	background: url(../img/zd.png) 0px 0px no-repeat;
	background-size: 100%;
	position: relative;
    left: 104px;
}
.issCenter a span{
	position: relative;
	top: 10px;
	font-size: 12px;
}
.issBoot{
	width: 900px;
	margin: 0 auto;
}
.issBoot div{
	width: 260px;
	float: left;
	font-size: 12px;
	position: relative;
	left: 100px;
}
.issBoot div h4{
	font-size: 14px;
	border-left: 3px solid #0b9ad6;
	text-indent: 1em;
	margin-bottom: 10px;
}
.issBoot div p{
	padding: 3px 0;
}
