.indBox{
	width: 100%;
	background-image: url(../imgs/sybj.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 6rem 0 0.3rem 0;	
}
.indZi{
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
}
.indZi div{
	width: 48%;
}
.indZi div a{
	display: block;
	width: 100%;
	padding: 0.3rem 0;
	text-align: center;
	background: rgba(255,255,255,.6);
	margin-bottom: 0.28rem;
	color: #1D61A4;
}
